/*----------------------------------------------------*\
  #ROOT
\*----------------------------------------------------*/

:root {
  /**
    * Colors
    */

  /* light mood */
  --light-text-color: hsl(200, 15%, 8%);
  --light-bg-color: hsl(0, 0%, 95%);
  --light-second-bg-color: hsl(0, 0%, 100%);

  /* dark mood */
  --dark-text-color: hsl(0, 0%, 100%);
  --dark-bg-color: hsl(207, 26%, 17%);
  --dark-second-bg-color: hsl(209, 23%, 22%);

  /**
    * Typography
    */

  /* Body Copy */
  --Homepage-Items: 14px;
  --Detail-Page: 16px;

  /* Fonts */
  --font-family: "Nunito Sans", sans-serif;
}

[data-theme="light"] {
  color-scheme: light;

  --text-color: var(--light-text-color);
  --bg-color: var(--light-bg-color);
  --second-bg-color: var(--light-second-bg-color);
}

[data-theme="dark"] {
  color-scheme: dark;

  --text-color: var(--dark-text-color);
  --bg-color: var(--dark-bg-color);
  --second-bg-color: var(--dark-second-bg-color);
}

/*----------------------------------------------------*\
  #RESET
\*----------------------------------------------------*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
input,
button {
  display: block;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
}

input {
  outline: none;
  width: 100%;
}

button { cursor: pointer; }

html {
  font-size: var(--Homepage-Items);
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  padding-block-start: 70px;
  color: var(--text-color);
  letter-spacing: 1px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}





/*----------------------------------------------------*\
  #DUBLICATE ITEM
\*----------------------------------------------------*/

.section { padding-block: 75px; }

.container {
  margin-inline: auto;
  padding-inline: 12px;
  max-width: 1440px;
  width: 100%;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/*----------------------------------------------------*\
  #COMPONENT
\*----------------------------------------------------*/

/**
 * search
 */
.form .search {
  padding: 10px 50px;
  height: 57px;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--second-bg-color);
  border-radius: 8px;
  width: 100%;
}

.form .search::placeholder { color: #b5b5b5; }

.form .search-icon {
  position: absolute;
  left: 16px;
  font-size: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
}

/**
 * btn border country
 */
.btn-border {
  background-color: var(--second-bg-color);
  box-shadow: 0 0 3px black;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 6px;
  padding: 8px 30px;
  transition: .4s;
}

.btn-border:where(:hover, :focus-visible):not(:active) {
  box-shadow: 0 0 0 transparent;
  transition: .4s;
}

/**
 * btn mood
 */
.btn-mood {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding: 12px 16px;
  font-weight: 600;
  border-radius: 6px;
  font-size: 1.1rem;
  gap: 10px;
  transition: .4s;
}

.btn-mood:where(:hover, :focus-visible) {
  background-color: var(--bg-color);
  transition: .4s;
} 

.sun.active { display: none; }

.moon { display: none; }

.moon.active { display: flex; }

/**
 * btn back
 */
.btn-back {
  display: flex;
  align-items: center;
  padding: 8px 30px;
  border-radius: 6px;
  box-shadow: 0 0 5px black;
  background-color: var(--second-bg-color);
  width: max-content;
  gap: 10px;
  transition: .4s;
}

.btn-back:where(:hover, :focus-visible):not(:active) {
  box-shadow: 0 0 0 transparent;
  transition: .4s;
}

/**
 * box
 */
.box {
  background-color: var(--second-bg-color);
  border-radius: 10px;
  transition: .4s;
  animation: top-box 0.3s linear alternate;
}

.box:hover {
  transform: translateY(-10px);
  transition: .4s;
}

@keyframes top-box {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.box figure img { 
  border-radius: 10px 10px 0 0; 
  width: 100%;
  height: 27vh;
}

.box .box-body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box .box-body .title {
  font-size: 1.6rem;
  font-weight: bold;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.box .box-body .text-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.box .box-body .text-list .text-item {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.box .box-body .text-list .text-item .span { color: #9c9c9c; }

/**
 * skeleton
 */
.skeleton {
  background-color: var(--second-bg-color);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.skeleton .skeleton-img {
  background-color: #9c9c9c;
  border-radius: 10px 10px 0 0;
  height: 27vh;
  width: 100%;
  animation: skeleton 500ms linear infinite alternate;
}

.skeleton .skeleton-body { 
  padding: 24px; 
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skeleton .skeleton-body .skeleton-title {
  background-color: #9c9c9c;
  border-radius: 100px;
  height: 20px;
  width: 40%;
  animation: skeleton 500ms linear infinite alternate;
}

.skeleton .skeleton-body .skeleton-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.skeleton .skeleton-body .skeleton-list .skeleton-text {
  background-color: #9c9c9c;
  border-radius: 100px;
  width: 100%;
  height: 17px;
  animation: skeleton 500ms linear infinite alternate;
}

.skeleton .skeleton-body .skeleton-list .text-1 { max-width: 75%; }

.skeleton .skeleton-body .skeleton-list .text-2 { max-width: 50%; }

.skeleton .skeleton-body .skeleton-list .text-3 { max-width: 85%; }

/* home skeleton in display.html */
.img-skeleton {
  background-color: #9c9c9c;
  height: 50vh;
  width: 100%;
  animation: skeleton 500ms linear infinite alternate;
}

.name-skeleton {
  background-color: #9c9c9c;
  border-radius: 100px;
  height: 25px;
  width: 200px;
  animation: skeleton 500ms linear infinite alternate;
}

.text-skeleton {
  background-color: #9c9c9c;
  border-radius: 100px;
  height: 15px;
  width: 250px;
  animation: skeleton 500ms linear infinite alternate;
}

.text-1 { width: 150px; }

.text-2 { width: 170px; }

.text-3 { width: 100px; }

.text-4 { width: 200px; }

.text-5 { width: 120px; }

.text-6 { width: 180px; }

.text-7 { width: 200px; }

.text-8 { width: 160px; }

.border-text-skeleton {
  background-color: #9c9c9c;
  border-radius: 100px;
  height: 22px;
  width: 150px;
  animation: skeleton 500ms linear infinite alternate;
}

.btn-border-skeleton {
  background-color: #9c9c9c;
  border-radius: 6px;
  height: 30px;
  width: 100px;
  animation: skeleton 500ms linear infinite alternate;
}

@keyframes skeleton {
  0% { opacity: 0.2; }
  100% { opacity: 0.4; }
}

/**
 * media component
 */

/** fit size 768px */
@media (min-width: 768px) {
  /**
   * search
   */
  .form .search { width: 500px; }
}

/** fit size 992px */
@media (min-width: 992px) {}

/** fit size 1200px */
@media (min-width: 1200px) {}





/*----------------------------------------------------*\
  #HEADER
\*----------------------------------------------------*/

.header {
  background-color: var(--second-bg-color);
  box-shadow: 0 0 2px rgb(87, 87, 87);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  z-index: 10;
}

.header .container .text-header {
  font-size: 16px;
  font-weight: bold;
}

/**
 * media header
 */

/** fit size 768px */
@media (min-width: 768px) { .header .container .text-header { font-size: 22px; } }





/*----------------------------------------------------*\
  #SEARCH HEADER
\*----------------------------------------------------*/

.search-header .container {
  display: flex;
  flex-direction: column;
  padding: 30px 12px 40px;
  gap: 40px;
}

.form { position: relative; }

.selected { position: relative; }

.selected .selected-top {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--second-bg-color);
  padding: 20px 30px;
  border-radius: 8px;
  cursor: pointer;
}

.selected .selected-top .selected-text {
  font-size: 1rem;
  font-weight: 500;
}

.selected .selected-top .chevron-down { font-size: 0.8rem; }

.selected .selected-list {
  position: fixed;
  left: 12px;
  top: 265px;
  padding: 20px 30px;
  border-radius: 8px;
  background-color: var(--second-bg-color);
  width: 230px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  height: 0;
  overflow: auto;
  transition: .4s;
}

.selected .selected-list::-webkit-scrollbar { display: none; }

.selected .selected-list.active {
  opacity: 1;
  visibility: visible;
  height: 215px;
  transition: .4s;
}

/**
 * media search header
 */

/** fit size 768px */
@media (min-width: 768px) {
  .search-header .container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    gap: 50px;
  }

  /**
   * selected
   */
  .selected .selected-list {
    right: 50px;
    left: auto;
    top: 165px;
  }
}





/*----------------------------------------------------*\
  #MAIN
\*----------------------------------------------------*/

.main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 50px;
  gap: 45px;
}

/**
 * media main
 */

/** fit size 768px */
@media (min-width: 768px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 12px;
    gap: 50px;
  }
}

/** fit size 992px */
@media (min-width: 992px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
  }
}

/** fit size 992px */
@media (min-width: 1440px) {
  .main { grid-template-columns: repeat(4, 1fr); }
}





/*----------------------------------------------------*\
  #FOOTER
\*----------------------------------------------------*/

.footer .copyright {
  background-color: var(--second-bg-color);
  border-radius: 10px 10px 0 0;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 30px;
  padding: 18px;
}





/*////////////////////////////////////////////////////*\
  STYLES.CSS => DISPLAY.HTML
\*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/**
 * GO STYLES DISPLAY.HTML
 */









/*----------------------------------------------------*\
  #HOME DETAIL
\*----------------------------------------------------*/

.home-detail {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 12px 30px;
  gap: 30px;
}

.home-detail .home-detail-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home-detail .home-detail-content .name {
  font-size: 2rem;
  font-weight: bold;
}

.home-detail .home-detail-content .content-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
}

.home-detail .home-detail-content .content-list .content-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-detail .home-detail-content .content-list .content-item .text {
  font-size: 1.1rem;
  font-weight: 600;
}

.home-detail .home-detail-content .content-list .content-item .text .span { color: #9c9c9c; }

.home-detail .home-detail-content .border-countries {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home-detail .home-detail-content .border-countries .border-text {
  text-wrap: nowrap;
  font-size: 1.3rem;
  font-weight: 600;
}

.home-detail .home-detail-content .border-countries .countries-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/**
 * media home detail
 */

/** fit size 992px */
@media (min-width: 992px) {
  .home-detail {
    grid-template-columns: repeat(2, 1fr);
    gap: 111px;
  }
  .home-detail .home-detail-content { gap: 20px; }

  .home-detail .home-detail-content .content-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .home-detail .home-detail-content .border-countries {
    margin-top: 50px;
    flex-direction: row;
    gap: 15px;
  }
}